@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    padding: 0 2%;
    margin: 0;
    font-family: 'Poppins';
    background-color: white;
}

nav a{
    text-decoration: none;
    color: black;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: sticky;
    background-color: white;
    top: 0%;
}

nav .profile {
    display: flex;
    align-items: center;
}
nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav .profile h1 {
    font-size: 20px;
    margin-left: 10px;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
}
nav ul li:hover {
    border-bottom-color: black;
}

.page-content {
    margin: 4%;
}
.page-content header {
    margin-top: 5%;
    max-width: 80%;
}
.page-content header h1 {
    margin: 0%;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 6vw;
}
.page-content header p {
    line-height: 30px;
    color: grey;
}
.page-content header button {
    background-color: inherit;
    border: none;
    outline: none;
    padding: 0%;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 1px solid grey;
    cursor: pointer;
}
.page-content header button:hover {
    color: grey;
    border-bottom-color: black;
}

.page-content .presentation-image {
    margin-top: 5%;
}
.page-content .presentation-image img {
    max-width: 100%;
   
}
.page-content .project-section {
    margin-top: 6%;
}
.page-content .project-section li {
    font-size: 13px;
}
.page-content .project-section h1 {
    text-transform: uppercase;
    font-size: 3vw;    
}
.page-content .project-section .projects {
    display: flex;
    flex-wrap: wrap;
}
.page-content .project-section .projects .project {
    margin-right: 150px;
    max-width: 350px;
}
.page-content .project-section .projects .project .description {
    font-size: 13px;
}
.page-content .project-section .projects .project .dates {
    font-size: 13px;
    color: grey;
}
.page-content .studies-section {
    margin-top: 6%;
}
.page-content .studies-section h1 {
    text-transform: uppercase;
    font-size: 3vw;  
}
.page-content .studies-section .studies {
    display: flex;
    flex-wrap: wrap;
}
.page-content .studies-section .studies .study {
    margin-right: 110px;
    max-width: 195px;
}
.page-content .studies-section .studies .study .description {
    font-size: 13px;

}
.page-content .studies-section .studies .study .dates {
    font-size: 13px;
    color: grey;
}


footer {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    background-color: lightskyblue;
    color: white;
    padding: 10px;
}
footer .column img{
    width: 50px;
    border-radius: 40px;
    margin-right: 150px;
    
}
footer .column p {
    font-size: 12px;
    color: grey;
    cursor: pointer;
}
footer .column p:hover {
    color: white;
}


@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }
    nav ul{
        display: none;
    }

    .page-content header {
        max-width: 100%;
    }

    .page-content .project-section {
        margin-top: 15%;
    }
    .page-content .project-section h1 {
        font-size: 1.5em;
    }
    .page-content .project-section .projects .project {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }
    .page-content .studies-section {
        margin-top: 15%;
    }
    .page-content .studies-section h1 {
        font-size: 1.5em;
    }
    .page-content .studies-section .studies .study {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }

    footer {
        justify-content: flex-start;
    }
    footer .column {
        width: 80%;
        overflow: hidden;
    }
}

